@page
@model SpeedPassApp.Pages.IndexModel
<link rel="stylesheet" href="~/css/site.css"></link>
<form method="post">
    <input asp-for="OrderNumber" />
    <button type="submit">Submit</button>
</form>
@if (ViewData["PrintRequested"] != null && (bool)ViewData["PrintRequested"])
{
    <script>
        // Trigger print dialog
        window.onload = function () {
            window.print();
        };
    </script>
}